{
    "secret": "secret",
    "smtpHost": "smtp.gmail.com",
    "smtpPort": 465,
    "smtpUser": "<your email>",
    "smtpPassword": "<your password>",
    "smtpFrom": "noreply@aibrush.art",
    "databaseName": "aibrush_backend_2",
    "dataFolderName": "data",
    "loginCodeExpirationSeconds": 500,
    "userAccessTokenExpirationSeconds": 3600,
    "serviceAccountAccessTokenExpirationSeconds": 31536000,
    "serviceAccounts": ["service-account@example.domain"],
    "userWhitelist": ["user@example.domain"]
}