.boost-item {
    margin: 8px;
    border: 1px solid #575757;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.boost-item.selected {
    border: 1px solid #fff;
    background-color: #484848;
}

.boost-item:hover {
    background-color: #575757;
}