.gradient-title {
    background: linear-gradient(
        90deg,
        #3d3bb5 -0.43%,
        #8b41d6 51.82%,
        #26d6e1 105.16%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
