CLIP
taming-transformers/
taming
vqgan_clip
SwinIR
checkpoints
credentials.json
local_credentials.json
remote_credentials.json
*.jpg
*.png
__pycache__
glid-3-xl
output*
*.pt
*.pth
latent-diffusion
nlpcloud.json
wandb
artist_styles
models
local.py
remote.py
